<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.bosshammersch_hof.oekokiste"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_greenwhite"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="de.bosshammersch_hof.oekokiste.MainActivity"
            android:configChanges="orientation|screenSize">
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.bosshammersch_hof.oekokiste.RecipeDetailActivity"
            android:label="Rezept" >
        </activity>
        <activity
            android:name="de.bosshammersch_hof.oekokiste.OrderActivity"
            android:label="Bestellungen" >
        </activity>
        <activity
            android:name="de.bosshammersch_hof.oekokiste.ArticleDetailActivity"
            android:label="Artikelimformationen" >
        </activity>
        <activity
            android:name="de.bosshammersch_hof.oekokiste.OrderDetailActivity"
            android:label="Artikelübersicht" >
        </activity>
        <activity
            android:name="de.bosshammersch_hof.oekokiste.WebViewActivity"
            android:label="Ökokiste: Website" >
        </activity>
        <activity
            android:name="de.bosshammersch_hof.oekokiste.RecipeActivity"
            android:label="gefundene Rezepte" >
        </activity>
        <activity
            android:name="de.bosshammersch_hof.oekokiste.LoginActivity"
            android:label="Anmelden" >
        </activity>
        <activity
            android:name="de.bosshammersch_hof.oekokiste.FindArticleActivity"
            android:label="Artikel auswählen" >
        </activity>
        
        <uses-library 
            android:name="android.test.runner" 
        />
        
    </application>

    <instrumentation android:name="android.test.InstrumentationTestRunner"
    		android:targetPackage="de.bosshammersch_hof.oekokiste"
    		android:label="TestLabel" 	   
    />
    
</manifest>